<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Nsfttz.Config" version="1.0.0" targetFramework="net47" />
  <package id="Nsfttz.Relational" version="1.0.0" targetFramework="net47" />
  <package id="Nsfttz.Repository" version="1.0.0" targetFramework="net47" />
  <package id="Nsfttz.Repository.SqlServer" version="1.0.0" targetFramework="net47" />
  <package id="Nsfttz.SystemExtension" version="1.0.0" targetFramework="net47" />
</packages>